body{
	background-image: url('../image/backclock.gif');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}
@keyframes swing {
    0%{
		transform: rotate(-15deg);
	}
    50%{
		transform: rotate(15deg);
	}
    100%{
		transform: rotate(-15deg);
	}
}

@keyframes rotate {
    from {
		transform: rotate(0deg);
	}
    to {
		transform: rotate(360deg);
	}
}
  
  @keyframes rotate1 {
    from {
		transform: rotate(0deg);
	}
    to {
		transform: rotate(-360deg);
	}
}

.clock-cont{
	position: relative;
	width: 500px;
    margin: 50px auto;
}
.clock{
	display: block;
	margin: auto;
    width: 65%;
}
.maya{
	position: absolute;
	width: 300px;
    margin: 100px;
    top: 228px;
    transform-origin: top center;
    animation: swing 2s ease-in-out infinite;
}
.gear{
	position: absolute;
}
.g1{
	width: 80px;
	margin: 203px;
    top: -27px;
	animation: rotate 1.71s linear infinite;
}
.g2{
	width: 130px;
	margin: 220px;
    top: -160px;
	animation: rotate1 3s linear infinite;
}
.g3{
	width: 75px;
	margin: 150px;
    top: -42px;
	transform: rotate(-6deg);
    animation: rotate 2.3s linear infinite;
}
.a1{
	position: absolute;
	width: 90px;
    margin: 204px;
    top: -210px;
    transform-origin: 50% 95%;
    animation: rotate 2.1s linear infinite;
}
.a2{
	position: absolute;
	width: 60px;
    margin: 219px;
    top: -170px;
    transform-origin: 50% 95%;
    animation: rotate 0.9s linear infinite;
}
.back{
	font-family: 'Courier New', Courier, monospace;
	font-size: 50pt;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	position: absolute;
	bottom: 0%;
	color: white;
	cursor: pointer;
}
#shum{
	font-family: 'Courier New', Courier, monospace;
	font-size: 30pt;
	font-weight: bold;
	text-decoration: none;
	position: fixed;
	top: 0;
	right: 0;
	color: white;
	z-index: 99;
	cursor: pointer;
}